<!-- Using partials -->
<% include partials/header %>

<!-- We can style in style tags as in any html -->
<style>
   body {
       color: purple;
   } 
</style>

<!-- We will create our style files in public folder
This name is not a must but a convention used very often -->
<!-- <link rel="stylesheet" href="app.css"> MOVED THIS TO PARTIAL--> 

<h1>Weolceme to my website</h1>
<div class="box"></div>

<% include partials/footer %>