<!-- Linkig styles in public folder -->
<link rel="stylesheet" href="app.css">

<h1>Test subpage</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusantium voluptas rem at sequi amet ipsum nesciunt corrupti ad provident, laborum aut! Quo vitae, rerum veritatis nam molestiae dolorum omnis?</p>