<h1>Search For a Movie</h1>

<!-- This will send the data to /results subpage! -->
<form action="/results" method="GET">
    <input name="search"  type="text" placeholder="search term">
    <input type="submit" value="submit">
</form>