<h1>Welcome to shop</h1>

<!-- If conditions -->
    <!-- Each part of js syntax needs to be wrapped id <% %> -->
<% if(thingVar.toLowerCase() ==="cookies"){ %>
    <p>Good choice cookies are the best!</p>
<% } else { %>
    <p>Bad choice, you should bought cookies</p>
<% } %>

<h2>You have bought: <%= thingVar %></h2>